
<h1>Entries for <%= @place["name"] %></h1>

  <% for entry in @entries %>

      <h2><%= entry["title"] %> </h2>
      <h4><%= entry["occurred_on"] %></h4>
      <h2><%= entry["description"] %></h2>

  <% end %>

<h4><a href="/entries/new/<%= @entry["place_id"] %>">Click Here to Write a New Entry</a></h4>
<h4><a href="/places">Return To Your List of Places</a></h4>
